.app1{
    width:35rem;
    background-color: whitesmoke;
  }
  .app h1{
    margin-bottom: 2rem;
  }
  
  .form-field{
    width: 34rem;
  }
  tr{
    background-color: rgb(238, 234, 234);
  }
  th{
    color: black;
  }
  table{
    width: 50%;
  }